---
layout: default
---

<section>
  <div class="container mt-2 mb-2">
    <div class="row">
      <div class="col-sm">
        <h1>Hello World</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        <p>Welcome to an example webpage for DSA Chapters! The theme for this website is based off of the open source <a href="https://github.com/manid2/lone-wolf-theme/">Lone Wolf Theme</a></p>
	<br>
	<p>When editing this initial page, include a statement about your Branch, Chapter, Working Group, or Organizing Comittee, how to get in touch with you, and other essential info!</p>
	<br>
	<p>An example of what should appear here, borrowed from <a href="https://north.dsanj.org">North New Jersey DSA</a>: North Jersey is known for our radical art, jazz and visionaries—Walt Whitman, Sarah Vaughn, Philip Roth, Amiri Baraka and many more. But history is made by working people and North NJ DSA wants to reignite our history of rebellion with Socialism for All. From the Paterson Silk Strike of 1913 to the Newark Rebellion of 1967, current BLM protests and the fight for lead-free water, North NJ DSA continues to build on the legacy of working-class organizing in our spirited state. The North Jersey Democratic Socialists of America is a group of dedicated organizers working to cultivate a more equal, just and environmentally sustainable future.</p>
      </div>
    </div>
  </div>
</section>
